bin/ffprobe/*.dll filter=lfs diff=lfs merge=lfs -text
bin/ffprobe/*.exe filter=lfs diff=lfs merge=lfs -text
bin/**/*.dll filter=lfs diff=lfs merge=lfs -text
bin/**/*.exe filter=lfs diff=lfs merge=lfs -text
